header {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
}
header .navbar {
  background: #fff;
}
header #nav-top {
  background-color: #36612D;
}
header #nav-top .navbar-btn {
  color: #fff !important;
  margin: 0;
}
header #nav-top .navbar-btn:hover,
header #nav-top .navbar-btn:active {
  outline: 0;
  background-color: #61AD50;
  text-decoration: none;
}
header #nav-main .navbar-brand {
  padding-bottom: 0;
  vertical-align: middle;
  position: relative;
  padding-top: 0;
}
header #nav-main .navbar-brand img {
  height: inherit;
  position: relative;
  display: inline;
  padding: 10px;
  float: left;
}
header #nav-main .navbar-brand label {
  vertical-align: middle;
  top: 10px;
  position: relative;
  color: #36612D;
}
header #nav-main .navbar-brand small {
  white-space: nowrap;
  font-size: 11px;
  display: block;
  color: #36612D;
}
body {
  height: 100%;
  font-family: "Roboto", 'Open Sans', sans-serif;
  background-color: #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/images/home-interior-blur.jpg);
  background-attachment: fixed;
}
body.lowerbg {
  background-image: url(/images/dormroom.jpg);
}
section#main-banner {
  min-height: 100%;
}
section#main-banner #lead-shout {
  margin-bottom: 50px;
  margin-top: 50px;
  color: #333;
}
section#main-banner #lead-shout #logo-hero {
  height: 150px;
  width: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
}
section#main-banner #lead-shout h1 {
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
section#main-banner #lead-shout h4 {
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
section#main-banner #quick-search {
  font-size: 10px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}
section#front-search {
  background-color: #f4f4f4;
  padding-bottom: 100px;
}
section#front-search h3 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
section#front-search #mason-gallery ul {
  list-style: none;
}
section#front-search #mason-gallery ul li.item-box {
  width: 50%;
  position: relative;
  float: left;
  background: #fff;
}
section#front-search #mason-gallery ul li.item-box:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
section#front-search #mason-gallery ul li.item-box:not(:first-child) .img-box {
  background-size: cover;
  width: 50%;
  height: 100%;
  display: inline-block;
}
section#front-search #mason-gallery ul li.item-box:not(:first-child) .info-box {
  position: relative;
  vertical-align: top;
  padding: 25px;
  width: 50%;
  display: inline-block;
  float: right;
}
section#front-search #mason-gallery ul li.item-box:not(:first-child):nth-child(odd) .info-box {
  float: left;
}
section#front-search #mason-gallery ul li.item-box:not(:first-child):nth-child(n+5):nth-child(odd) .info-box {
  float: right;
}
section#front-search #mason-gallery ul li.item-box:not(:first-child):nth-child(n+5):nth-child(even) .info-box {
  float: left;
}
section#front-search #mason-gallery ul li.item-box:not(:first-child):nth-child(n+7):nth-child(odd) .info-box {
  float: left;
}
section#front-search #mason-gallery ul li.item-box:not(:first-child):nth-child(n+7):nth-child(even) .info-box {
  float: right;
}
section#front-search #mason-gallery ul li.item-box:first-child .img-box {
  width: 100%;
  height: 100%;
}
section#front-search #mason-gallery ul li.item-box:first-child .info-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 25px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}
section#front-search #mason-gallery ul li.item-box:first-child .info-box label {
  font-size: 24px;
}
section#affiliates {
  background: #fff;
}
section#affiliates .container {
  padding: 20px 15px;
}
section#affiliates .container h3 {
  text-align: center;
}
section#affiliates .container #carousel-partners .partner-item {
  width: 200px;
}
section#affiliates .container #carousel-partners .partner-item img {
  cursor: pointer;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-filter: gray;
          filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}
section#affiliates .container #carousel-partners .partner-item img:hover {
  -webkit-filter: none;
  filter: none;
}
section#why-choose-us {
  color: #fff;
  background-color: #171717;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-image: url(/images/cityscape.jpg);
}
section#featured {
  padding: 20px 0;
  height: 555px;
  border-top: 0;
}
section#featured .container-fluid {
  padding: 0;
}
section#featured h3 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
}
section#featured #carousel-featured a {
  text-decoration: none;
  color: initial;
}
section#featured #carousel-featured .listing-item {
  padding: 0px;
  transition: all 200ms ease-in;
  width: 250px;
  margin-top: 0px;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  border: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
section#featured #carousel-featured .listing-item .image {
  background: #ddd;
  height: 180px;
  background-size: 101%;
  background-position: center;
  transition: background-size 0.2s ease-in;
  -moz-transition: background-size 0.2s ease-in;
  -ms-transition: background-size 0.2s ease-in;
  -o-transition: background-size 0.2s ease-in;
  -webkit-transition: background-size 0.2s ease-in;
}
section#featured #carousel-featured .listing-item .image:hover {
  background-size: 120%;
}
section#featured #carousel-featured .listing-item .image .project-type {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 6px 12px;
  display: block;
  text-align: center;
}
section#featured #carousel-featured .listing-item h4.head {
  padding: 0 10px;
  text-align: center;
}
section#featured #carousel-featured .listing-item small {
  padding: 0 10px;
  text-align: center;
  display: block;
}
section#featured #carousel-featured .listing-item p.content {
  padding: 10px;
  font-size: 13px;
  transition: all 200ms ease-in;
  overflow: hidden;
}
section#featured #carousel-featured .listing-item ul.item-specs {
  -moz-column-count: 2;
  -moz-column-gap: 2.5em;
  -webkit-column-count: 2;
  -webkit-column-gap: 2.5em;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 2.5em;
     -moz-column-gap: 2.5em;
          column-gap: 2.5em;
  margin-left: 3em;
}
section#featured #carousel-featured .listing-item p.foot {
  padding: 10px;
  font-size: 11px;
}
section#featured #carousel-featured .owl-item:not(.center) .listing-item {
  margin-top: 35px;
}
section#featured #carousel-featured .owl-item:not(.center) p.content {
  height: 0;
  padding: 0;
}
section#featured #carousel-featured .owl-item.center .listing-item {
  border: 0;
}
section#featured #carousel-featured .owl-stage {
  padding-bottom: 5px;
}
section#testimonials {
  background-color: #FFFFFF;
  padding-top: 50px;
}
section#testimonials .nav.nav-justified > li > a {
  position: relative;
}
section#testimonials .nav.nav-justified > li > a:hover,
section#testimonials .nav.nav-justified > li > a:focus {
  background-color: transparent;
}
section#testimonials .nav.nav-justified > li > a > .quote {
  position: absolute;
  left: 0px;
  top: 0;
  opacity: 0;
  width: 30px;
  height: 30px;
  padding: 5px;
  background-color: #61AD50;
  border-radius: 15px;
  color: #fff;
}
section#testimonials .nav.nav-justified > li.active > a > .quote {
  opacity: 1;
}
section#testimonials .nav.nav-justified > li > a > img {
  box-shadow: 0 0 0 5px #61AD50;
}
section#testimonials .nav.nav-justified > li > a > img {
  max-width: 100%;
  opacity: .3;
  -webkit-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
      transform: scale(0.8, 0.8);
  transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
section#testimonials .nav.nav-justified > li.active > a > img,
section#testimonials .nav.nav-justified > li:hover > a > img,
section#testimonials .nav.nav-justified > li:focus > a > img {
  opacity: 1;
  -webkit-transform: none;
  -ms-transform: none;
      transform: none;
  transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
section#testimonials .tab-pane .tab-inner {
  padding: 30px 0 20px;
}
@media (min-width: 768px) {
  section#testimonials .nav.nav-justified > li > a > .quote {
    left: auto;
    top: auto;
    right: 20px;
    bottom: 0px;
  }
}
footer {
  width: 100%;
  background: #454545;
  background: #36612D;
  margin: 0;
  padding-bottom: 50px;
  padding-top: 50px;
  font-weight: normal;
}
footer *,
footer a,
footer a:hover {
  color: #fff;
}
footer center {
  padding-top: 40px;
}
footer .hr-logo {
  border-bottom: 1px solid white;
}
#toTop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  display: none;
}

/*# sourceMappingURL=homenew.css.map */