body{

    padding-top: 90px;
    .navbar-fixed-top {
        top: 0;
    }
}
ul.columns-two {
    list-style-type: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

ul.columns-three {
    list-style-type: none;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}


ul.toggle-tags{
    > li{
        padding: 3px;
        > span{
            display: inline-block;
            min-width: 10px;
            padding: 3px 7px;
            font-size: 12px;
            font-weight: 700;
            line-height: 1;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            background-color: #777;
            border-radius: 10px;
            cursor: pointer;
            &.selected{
                background-color: #36612D;
            }
        }
    }
}


.modal-content{
    .tab-content{
        .tab-pane{
            padding: 20px;
        }
    }
}

#container_image_dev{
    padding: 0;
    min-height: 200px !important;
    min-width: 200px !important;
    border: none !important;
    text-align: center !important;
    overflow: visible !important;
    padding-left: 30px;
    background-origin: content-box;
    img{
        border: 1px solid #ddd !important;
        margin-left: -15px;


    }
    &.active{
        > img{
            background-color: #FFF;
        }
    }
}

#table-dev{
    > tbody {
        > tr{
            > td:nth-child(3){
                white-space: nowrap;
                max-width: 300px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

#add-proj-amenities-list{
    > li {
        margin-bottom: 5px;
    }
}
#add-proj-images,#add-unit-images{
    .form-group{
        width: 100%;
        
    }
}
#add-proj-images-input_list,#add-unit-images-input_list{

    > .MultiFile-label {

        .MultiFile-remove{
            display: block;
            font-weight: bold;
            text-decoration: none;
        }
        > span > .MultiFile-label{
            display: inline-block;
            border: 1px solid #DDD;
            padding: 5px;
            margin: 5px 5px 0 0;
            width: 30%;
            text-align: center;
            position: relative;
            overflow: hidden;
            min-height: 150px;
            &:hover{
                border-color: darkgreen;
            }

            .MultiFile-title{
                display: block;
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .MultiFile-preview{
                display: inline-block;
                max-width: 100% !important;
                max-height: 110px !important;
            }
        }

    }
}